
#logo {
  position: absolute;
  width: 176px;
  height: 77px;
  left: 174px;
  top: 36px;
}

#ar {
  position: absolute;
  width: 117px;
  height: 46px;
  left: 1147px;
  top: 72px;
  border-radius: 27px;
}
